
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.all-content{
    font-family: 'Open Sans', sans-serif;
}
.title-blocks{
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
    padding: 50px 0;
}
.header{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.logo-header{
    display: flex;
    align-items: center;
}
.logo-img{
    margin: 25px 30px; 
}
.logo-text{
    color: #FFFFFF; 
}
.header-menu{
    display: flex;  
}
.header-menu-item{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    padding-right: 35px;
}
.header-menu-item:hover{
    color: #14B9D5;
    cursor: pointer;
}
.search{
    background-color: #000000;
    padding: 30px; 
}
.main-container{
    max-width: 1980px;
}
.top-image{
    text-align: center;
    background-image: url("../img/header-bg.jpeg");
    background-position: center;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-title{
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 27px;
}
.btn{
    display: flex;
    margin-top: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.left {
    background-color: #89CA62;
    padding: 16px 22px;
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 20px;
    font-family: "Open Sans", sans-serif;
}
.right{
    background-color: #14B9D5;
    padding: 16px 22px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}
.popular-projects{
    background-color: #F2F2F2;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;
}
.project-blok{
    padding-right: 30px;
}
.project-image1{
    width: 370px;
    height: 259px;
}
.project-text1{
    margin-bottom: 55px;
    background: #FFFFFF;
    color: #353A3D;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}
.project-image2{
    width: 370px;
    height: 260px;
}
.project-image3{
    width: 370px;
    height: 380px;  
}
.project-text2{
    margin-bottom: 55px;
    background: #FFFFFF;
    color: #353A3D;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}
.project-image4{
    width: 370px;
    height: 247px;
}
.project-image5{
    width: 370px;
    height: 290px;
}
.project-text3{
    margin-bottom: 55px;
    background: #FFFFFF;
    color: #353A3D;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

.project-image6{
    width: 370px;
    height: 380px;
}
.average-picture{
    background-image: url("../img/parallax-bg.jpeg");
    height: 588px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.average-title{
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 110px;

}
.line{
    height: 3px;
    width: 60px;
    border: none;
    background-color: #18B4CF;
    margin-top: 90px;
}
#clients{
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}
.brand{
    height: 50px;
}
.logo-photo1{
    height: 28px;
    width: 207px;
   
}
.logo-photo2{
    width: 135px;
}
.logo-photo3{
    width: 232px;
}
.logo-photo4{
    width: 141px;
}
#top-rated-img{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.hot-new {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top-rated-img-all{
    height: 190px;
    width: 100%;
}
#news{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 45px;
    grid-column-gap: 60px;
    grid-template-columns: repeat(2, 1fr); 
}
.row-top {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 35px;
}
.row-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 20px;
}
.news-block-item{
    background-color: #f9f7f7;
}
.news-img {
    width: 100%;
}
.block-with-text {
    display: flex;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
    padding: 0 25px;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 15px 0;
}
.text {
    color:  #5B6469;;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
footer{
    background-color: #000000;
    padding: 35px 0;
    margin-top: 75px;
}
#footer-grid{
    max-width: 1280px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 1fr 100px;
}
.footer-item{
    color: #FFFFFF;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.footer-image-logo{
    display: flex;
}
.footer-image-logo > img {
    height: 16px;
}