body{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.main-container{
    font-family: "Roboto",sans-serif; 
    max-width: 1280px;
    font-style: "Regular";
    width: 100%;
   
}


.logo,a {
    color: #4bcaff;
    text-decoration: none;
    display: flex;
    font-size: 80px;
    line-height: 94px;
    align-items: flex-end;
    margin-bottom: 40px;
   
   
}

.letter{
    color:#000000;
}

.header-menu{
    display: flex;
    justify-content: center;
    background-color: #35444F;
    color: #fff;


}

.header-menu-item{
    padding:20px;
    border-left: 1px solid #fff;
    font-size: 24px;

}
.header-menu-item:hover {
    background-color: #222F3A;
    cursor: pointer;
}
main{
    display: flex;
    margin-top: 50px;

}


.aside-menu{
    border: 1px solid #000000;
    width: 350px;
    margin-right: 50px;

}
.aside-menu-item{
    font-size: 27px;
    color: #485863;
    padding: 25px 45px;
    
}
.aside-menu-item:hover{
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: 60px;
    cursor: pointer;}

.picture{
    border: 1px solid #000000;
    padding: 75px 280px;
   
}
.paragraph1{
    font-size: 18px;
    margin-top: 40px;
    
}
.footer{
    background-color:  rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding: 20px 40px;
    align-items: center;
}
   
.footer-menu{
    display: flex; 
    color: #0C1927;
}

.footer-menu-item{
    margin-right: 40px;
    font-size: 28px;
}

.copyright{
    color:  #010101;
    font-size: 24px;
    
    
}
.footer-menu-item:hover{
    color: #498ba9;
    cursor: pointer;
}
   



