@media screen and (max-width: 480px) {

    
      
    //----------Revolutionary----------
      
    .revolutionary-editor-title {
      font-size: 24px;
      margin: 75px 0 10px;
      line-height: 40px;
    }
      
    .revolutionary-editor-slogan {
      font-size: 16px;
      line-height: 25px;
    }
      
    .revolutionary-editor-actions {
      max-width: 300px;
    }
      
    //----------What You Get----------
      
    .what-you-get {
      grid-template-areas: "title" "articles" "img";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 8fr 3fr;
    }
      
    .what-you-get-articles {
      margin-left: 0px;
      margin-top: 30px;
    }
      
    .article {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
      
    .article-title {
      margin: 20px 0 10px;
    }
      
    .article-text {
      margin: 0;
    }
      
    .what-you-get-title {
      font-size: 35px;
      margin-top: 45px;
      text-align: center;
    }
      
    .what-you-get-img {
      width:100%;
      height: 90%;
      margin-left: 0px;
      margin-top: 0px;
    }
      
    
      
    //----------Pricing----------
      
    .pricing-title {
      font-size: 30px;
      margin-bottom: 50px;
      line-height: 55px;
    }
    
    .pricing-item-container {
      grid-template-columns: 75%;
      padding-bottom: 110px;
    }
      
    .pricing-item {
      margin-bottom: 0px;
    }
      
    #bigItem.pricing-item {
      margin: 43px calc(1% - 1px);
    }
      
    .pricing-item-button--active {
      color: rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.65);
      font-weight: bold;
    }
      
    }
      