 .burger{

   display: none;
 }
 .wrapper-burger-menu{
    position: absolute;
    display: none;
    bottom: -347px;
    width: 100%;
    justify-content: center;
 }
 .burger-menu{
     text-align: left;
     background-color:  #333333;
 }
 .burger-menu-item{
    padding: 30px 40px;
    border-bottom: 1px solid #3B3B3B;
    font-size: 26px;
    line-height: 26px;
    @include menu-hover
    
 }
 .burger-menu-item:last-child{
     border-bottom: none;
 }
 .burger-menu-item a{
     color: #ffffff;
 }
 .active{
     border-left: 8px solid #8D81AC;
     color: #8D81AC;
 }
 .menu-icons{
     display: none;
 }
 .burger-icon{
    height: 23px;
    width: 23px;
 }
 .close-icon{
     display: none;
     height: 23px;
     width: 23px;
 }
 .burger-icon svg{
    fill: #ffffff;
 }
 .close-icon svg{
    fill: #ffffff;
 }
 .show{
     display: flex;
 }
 .hide{
     display: none;
 }
