

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.maxWidth{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.section-one{
position: relative;
background-image: url("./img/img-back.png");
background-repeat: no-repeat;
background-position: center;
height: 800px;
background-size: cover;

}
.reviews{
    background-image: url("./img/img-backgr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
