.main{
    text-align: center;
    .title{
        font-weight: bold;
        font-size: 82px;
        line-height: 82px;
        color: $color-white;
        padding-top: 105px;
    }
    .subtitle{
        font-size: 30px;
        line-height: 30px;
        color:$color-h-main;
        padding-top: 20px;
    }
    .operation{
        font-size: 16px;
        line-height: 16px;
        color: $color-grey;
        padding-top: 20px;
       
    }
}
.big-btn{
    position: absolute;
    width: 390px;
    height: 62px;
    border-radius: 40px;
    background-color: $color-h-main;
    border: none;
    bottom: -30px;
   
}
.big-btn-wrapp{
display: flex;
justify-content: center;
}
.big-btn:hover{
    @include btn-hover
}
.big-btn-text{
    color: $color-white;
    font-weight: bold;
    font-size: 21px;
    line-height: 23px;
}
.big-btn:hover .big-btn-text{
   color: $color-h-main;
}
.under-big-btn{
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    color: #848E97;
    margin-top: 45px;
}

// reviews

.company{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.reviews-content{
    text-align: center;
    max-width: 345px;
    margin-bottom: 100px;
}
.reviews-img{
    padding-bottom: 30px;
    
}
.reviews-text{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: $color-white;
    padding-top: 100px;
    padding-bottom: 80px;
}
.reviews-text-big{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $color-white;
    
}
.review-subtitle{
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    padding-top: 65px;
    padding-bottom: 20px;
}
.line{
    width: 70%;
   border-bottom: 1px solid #645766;
   margin: 0 auto;

}