
// header + people are talking about

@media(max-width: 480px){
    .main-container{
        min-width: 320px;
    }
    .header-menu{
        display: none;
    }
    .header-content{
        padding: 30px 12px;
    }
    .big-btn{
        width: 290px;
        height: 45px;
    }
    .big-btn-text {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
    }
    .menu-icons{
        display: block!important;
    }
    .logo-text{
        display: none;
    }
    .burger{
        display: block!important;
    }
    .main .title{
        font-size: 48px;
        line-height: 48px;
    }
    .main .subtitle{
        font-size: 16px;
        line-height: 24px;
    }
    .company{
       justify-content: center;
    }
    .reviews-content{
        text-align: center;
        max-width: 270px;
        margin-bottom: 45px;
       
    }
    .reviews-text{
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
    }
    
    .review-subtitle{
        padding-top: 10px;
    }

}

@media(max-width: 992px){
    .main-container{
        min-width: 320px;
    }
    .header{
        background-color:  #27262A;
     }
     
    .header-menu{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        justify-content: center;
        padding-bottom: 15px;
    }
    .header-menu li {
        padding-right: 25px;
    }
    .header-menu li:last-child{
        padding: 0;
 
    }
    
    
    .reviews-text{
     font-size: 40px;
     line-height: 41px;
      padding-top: 26px;
     padding-bottom: 50px;
    }
  
    .review-subtitle{
     padding-top: 58px;
     padding-bottom: 20px;
    }
}

