.header-content{
    display: flex;
   align-items: center;
   text-align: center;
   padding: 30px 80px;
   justify-content: space-between;
   position: relative;
}
.logo-header{
    display: flex;
    align-items: center;
}
.logo-header:hover .logo-violet{
    display: none;
}
.logo-header:hover .logo-white{
    display: block;
    padding-right: 15px;
    cursor: pointer;
}
.logo-header:hover .logo-text{
   color: $color-white;
   cursor: pointer;
}
.logo-violet{
    width: 43px;
    height: 41px;
    padding-right: 15px;
    cursor: pointer;
    
}
.logo-white{
    display: none;
    width: 43px;
    height: 41px;
}
.logo-text{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    color: $color-h-main;
}
.header-main-menu{
    display: flex;
}

.header-menu{
    display: flex;
    align-items: center;
}
.header-menu li{
    padding-right: 50px;
}
.menu-btn{
    display: flex;
}
.header-menu-item{
    display: flex;
   
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: $color-h-main;
}
.header-menu-item:hover{
    @include menu-hover 

}
.btn{
    width: 145px;
    height: 37px;
    border-radius: 40px;
    background-color:  $color-h-main;
    border: none;
}
.btn:hover{
   @include btn-hover
}
.text-btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: $color-white;
}
.btn:hover .text-btn{
    color: $color-h-main;
}




