.pricing {
    background-image: url("./img/pricingBg.png");
    background-size: cover;
  }
  
  .pricing-title {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 95px;
  }
  
  .pricing-item-container {
    display: grid;
    grid-template-columns: 20% 20% 24% 20%;
    grid-gap: 1%;
    justify-content: center;
    padding-bottom: 95px;
  }
  
  .pricing-item {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    text-align: center;
  }
  
  .pricing-item-title {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 45px 0 35px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .pricing-item-price {
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin: 35px 0 25px;
  }
  
  .pricing-item-period {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 65px;
  }
  
  .pricing-item-period::after {
    content: " ";
    padding: 0 30px;
    border: 2px solid #8d81ac;
    position: absolute;
    right: calc((100% - 64px)/2);
    top: 270px;
  }
  
  .pricing-item-conditions {
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    line-height: 30px;
    margin: 0 8px 85px;
  }
  
  .pricing-item-button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    padding: 12px 30px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 72px);
    transition: background-color, color 0.5s ease;
  }
  
  #bigItem.pricing-item {
    transform: scale(1.2);
    margin: 0 calc(10% - 4px);
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  #bigItem .pricing-item-title {
    background-color: rgba(0, 0, 0, 0.15);
  }