$color-h-main: #8D81AC;
$color-white:#fff;
$color-grey:#848E97;

@mixin menu-hover {
    color: $color-white;
    cursor: pointer;
}
@mixin btn-hover {
    background-color: $color-white;
    border: 1px solid $color-h-main;
    cursor: pointer;
}
@mixin actionsBefore {
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 14px;
    margin-right: 3px;
  }