.product-img{
    width: 100px;
    height: 150px;
   border-radius: 8px;
   
}
 .product{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 10px; 
    text-align: center;
    border-radius: 8px;
    
} 
.product-name{
    font-weight: bold;
    margin-bottom: 10px;
}
.product-prize{
    color: green;
    font-weight: bold;
}
.product-content{
    padding: 10px;
}
.product-article{
    margin-bottom: 10px;
}
.star-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}