body{
    background: #000000;
    font-family: sans-serif;
}
@keyframes scroll{
    from { top: 85%; }
    to { top: 0; } 
   
}
.wrap-content{
    color: #fbcf00; 
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    line-height: 1.5;
    text-align: justify;
    transform-origin: 50% 75%;
    transform: perspective(500px) rotateX(50deg);
    margin-bottom: 150px;
    overflow: hidden;
}

.content {
    width: 50%;
    position: absolute;
    animation: scroll 30s linear infinite;
} 
.title{
    text-align: center;
    font-size: 45px;
    margin: 15px 0;
    font-weight: bold;
}

.text {
    font-size: 40px;
    margin-bottom: 15px;
}   