@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.container{
    background-image: url("../img/background-img.png");
    background-repeat: no-repeat;
    font-family: "Ubuntu", sans-serif;
    background-size: cover;
    min-height: 100%;
}
.content{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 80px;
}
header{
    background-color: rgba(0, 0, 0, 0.4);
} 
.logo{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}
.logo:hover{
    color: #01813F;
    transition: 0.5s;
}
.right-nav{
    display: flex;
    align-items: center;
}
.wrap-icons{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.icons-menu{
    margin-right: 25px;
    cursor: pointer;
}
.icons-menu:hover path{
    fill: #01813F;
    transition: 0.5s;
}
.choose-in{
    color: #ffffff;
    font-size: 14px;
    margin-left: 25px;
}
.choose-in-item{
    color: #ffffff;
    margin-left: 3px;
}
.choose-in-item:hover{
    color: #01813F;
    transition: 0.5s;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 170px);
    padding: 55px 0;
}

.form{
    width: 325px;
    background-color: #ffffff;
    padding: 30px 60px 35px 60px;
    position: relative;
}
.shape{
    width: 18px;
    height: 18px;
    background-color: #01813F;
    position: absolute;
    top: 30;
    left: 0;
}
.enter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  
}
.sing-up{
    color: #434343;
    font-size: 20px;
}
.log-in{
    color: #3CB878;
    font-size: 14px;
}
.log-in:hover{
    border-bottom: 1px solid #3CB878;
    cursor: pointer;
    transition: 0.5s;
}
.social-media{
    display: flex;
    justify-content: space-between;
}
.social-button{
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
}
.facebook{
    background-color: #305DB8 ;
    
}
.facebook:hover{
    background-color: #022263;
    transition: 0.5s;
}
.google{
    background-color: #DF4A32;
}
.google:hover{
    background-color: #AB1F09;
}
.social-media-img{
    border-right:1px solid #0a162f1a ;
    padding: 0 18px 0 16px;
}
.name-social-media{
    color: #ffffff;
    padding: 0 22px 0 18px;
    font-size: 16px;
}
.line{
    position: relative;
    border-top: 1px solid #F2F2F2;
    margin-top: 30px;
    margin-bottom: 16px;
}
.line-text{
    position: absolute;
    top: -10px;
    right: 46%;
    background-color: #fff;
    padding: 0 3px;
    color:  #848484;
    font-size: 14px;
}
.form-input{
    width: calc(100% - 40px) ;
    margin-bottom: 15px;
    color: #434343;
    font-size: 14px;
    padding: 16px 20px;
    border: 1px solid  #F2F2F2;
    border-radius: 4px;
    outline: none;
}
.form-input::placeholder{
    color: #BEBEBE;
}
.form-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.label-checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.label-checkbox:hover span{
    border-bottom: 1px solid  #3CB878;;
}
.checkbox-text{
    color: #434343;
    font-size: 14px;
}
.checkbox-text span{
    color: #3CB878;
}
.form-button{
    background-color: rgba(60, 184, 120, 0.8);
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 16px 0;
    margin-top: 20px;
    cursor: pointer;
}
.form-button:hover{
    background-color: #01813F;
    transition: 0.5s;
}