.modal{
    justify-content: center;
    align-items: center;
    display:flex;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0, 0.4);
    width:100%;
    height: 100%;
}
.modal-inner{
    justify-content: space-between;
    display:flex;
    flex-direction: column;
    width:300px;
    background-color:#e13329;
    color: #fff;
  
}
.close-svg{
    fill:#fff;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.modal-header{
    padding:20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color:#c92f26;
}
.modal-footer{
    display: flex;
    justify-content:space-around;
    padding:20px;
}
.modal-content{
    padding:25px;
    text-align: center;
}