
.btn-form{
    padding:10px 20px;
    outline: none;
    border:none;
     margin-right: 5px; 
    cursor: pointer;
    color: black;
    border-radius: 8px;
    
}
.input-form{
  color:black;
  font-weight: bold;
  
}
.error-field{
  color:red;
  padding: 8px;
  
  
}

