.header{
    display:flex;
    justify-content:space-between;
    width: 100%;
    height: 50px;
    background-color: #fff;
   
}
.svg-header{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}