 .container {
    text-align: center;
    }

 ul {
     display: flex; 
     justify-content: center;
     font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 2.7px;
    }

 li {
    list-style-type: none;
    margin-right: 50px;
    text-transform: uppercase;
   
    
    }

 a {
    color: #FF0000;
    text-decoration: none;
    }

 img {
    width: 100%;
    }

 h2 {
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 38px;
    margin-top: 49px;
    font-family: Montserrat;
    letter-spacing: 3.3px;

    }

 p {
    margin-bottom: 28px;
    font-family: Montserrat;
    letter-spacing: 3.3px;
    color: #373737;

    }

 button {
    background: #FF0000;
    color: #fff;
    margin-top: 66px;
    text-transform: uppercase;
    padding: 18px 42px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 1.8px;
    }
    
 footer {
    color: #373737;
    text-align: end;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 2.4px;
    }