.basket{
display: flex;
flex-wrap: wrap;
}
.delete-btn{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius:50px;
    position: absolute;
    right:0;
}
.wrap-product{
    position: relative;

}
.close-icon{
    width: 15px;
    height: 15px;
}