@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main-container{
    font-family: "Montserrat",sans-serif;
    
}
.maxWidth{
    max-width: 1160px;
    margin: 0 auto;
}
/*  <!-- section one -->*/
.section-one{
    
    background-image: url("../img/Sections-background/section-1\(header\).jpg");
    width: 100%;
    font-weight: bold;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}
.logo-header{
    position: relative;
    display: flex;
    align-items: center;
    
}

.logo-img{
    width: 58px;
    height: 67px;
    margin: 25px 5px 25px;
}
.H{
    position: absolute;
    top: 36%;
    right: -9%;
    color: #ffffff;
    width: 100%;
    font-size: 40px;
    line-height: 31px;
}
.span-text{
    font-size: 32px;
    line-height: 48px; 
    font-weight: normal;
    color: #ffffff;
}
.letters{
    color: #18CFAB;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
}
.header-menu{
    display: flex; 
    
}
.header-menu-item{
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 25px;
    padding: 50px 0;
    margin-right: 20px;
}
.header-menu-item:hover{
    color: #18CFAB;
    transition: 0.5s;
    cursor: pointer;
    border-bottom: solid 1px #18CFAB;

}
.section-one-text{
    text-align: center;
}
.statements-the{
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff ;
    padding-top: 265px;
}
.statements-the .statements-wordpress{
    color: #18CFAB;
}
.statements-we{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 78px;
    color: #ffffff ;
}
.statements-just{
    color: #D4D4D4;
     padding-top: 20px;
    font-size: 34px;
    font-style: normal;
    font-weight: normal;

}
.btn{
    margin-top: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-bottom: 240px;
}
.left {
    background-color: #18CFAB;
    padding: 16px 17px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    box-shadow: 0px -5px 0px #ffffff;
}
.right{
    background-color: #14B9D5;
    padding: 16px 17px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    margin-left: 25px;
    box-shadow: 0px -5px 0px #ffffff;
}
/* <!--section-two 4 squares--> */
.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}
.option-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
}

.uncountable{
    background-color: #1C2A33;
    color: #18CFAB;
}
.countable{
    background-color:  #18CFAB;
    color: #FFFFFF;
}
.option-item p{
    margin-top: 45px;
    font-size: 20px;
    text-transform: uppercase;

}
/*  <!--section-three Lines -->*/

.section-title{
    font-size: 36px;
    color:  #4E4E4E;
    text-align: center;
    font-weight: normal;
    padding-top: 80px;
}
.lines{
    text-align: center;
    margin-top: 25px;
}
.menu-content{
    margin-top: 25px;
}
.menu-title{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   margin-top: 70px;
   background-color: #F8FCFE;
}
.content-img{
    width: 192px;
    height: 139px;
}
.content-text{
    color: #777777;
    font-size: 13.645px;
    margin-left: 15px;
    
}
.title{
    color: #717171;
    font-size: 15.9859px;
    line-height: 39px;
    border: 1px solid #EDEFEF;
    padding: 15px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.title-active{
   background-color: #18CFAB; 
   color: #FFFFFF;
   position: relative;
}
.title-active::after{
    content: "";
    position: absolute;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid  #18CFAB;
}
.content{
    display: none;
}
.active-content{
    display: flex;
    align-items: center;
    
}

/* section-four Ready */
.section-four{
    background-image: url("../img/Sections-background/Layer\ 21\ 1.png");
    width: 100%;
    background-position: center;
    margin-top: 90px;
    background-repeat: no-repeat;

}
.section-four-content{
    text-align: center;
}
.section-four-content h2{
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 125px;
}
.section-four-text{
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8 ;
    margin-top: 15px;

}
.btn-four{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #14B9D5;
    padding: 16px 17px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    margin-left: 25px;
    box-shadow: 0px -5px 0px #ffffff;
    margin-top: 65px;
    margin-bottom: 125px;
}
/* <!-- section five Amazing --> */
.section-five{
    background-color: #E9EDEF;
   
} 
.section-five-menu{
   display: flex;
   justify-content: center;
   margin: 70px 0;
}
.section-five-menu-item{
    color: #717171;
    font-size: 16px;
    border: 1px solid #DADADA;;
    padding: 20px; 
    cursor: pointer;

}
.active{
    color:  #18CFAB;
    border: 1px solid  #18CFAB;
}

.design div{
    text-transform: uppercase;
    color:  #18CFAB;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    margin-top: 23px;
    
}
.filtr-img{
    display: none;
}
.show-filter-imgs{
    display: block;
}
.design p{
    color: #8A8A8A;
    font-size: 12px;
    line-height: 25px;
}
.design-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.design{
    text-align: center;
    margin-top: 43px;
}
.load-mo{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.load-btn{
   text-transform: uppercase;
   padding: 23px;
   background-color:  #18CFAB;
   border-radius: 5px;
   color: #ffffff;
   margin-top: 70px;
   margin-bottom: 110px;
   cursor: pointer;
   
}
.load-btn img{
    margin-right: 15px;
}
.section-five-menu-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* <!-- section six BN--> */

.section-six-content{
    display: flex;
    justify-content: space-between;
}
.column{
    margin-top: 70px;
    margin-right: 35px;
}
.column a{
    text-decoration: none;
}

.blog-text{
    color: #717171;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    margin-left: 40px;
   
}
.blog{
   position: relative;
   align-items: center;
}
.blog:hover .blog-text{
    color: #18CFAB;
}

.data{
    position: absolute;
    width: 66px;
    height: 66px;
    background-color:  #203E38;
    top: 0%;
    left: 75%;
    color: #ffffff;
   
    
}
 .blog:hover .data{
    background-color: #18CFAB;
} 

.number{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     text-transform: capitalize;
     width: 60px;
     height: 40px;
     margin: 15px 5px;
}
.by-admin{
    color:  #777777;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 40px;
    margin-left: 50px;

}

/* <!-- section seven What --> */
.section-seven{
    background-image: url("../img/Sections-background/section-3.jpg");
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}
.section-seven-content{
    text-align: center;

}
.picture{
    width: 50px;
    height: 35px;
    margin-top: 65px;
    margin-bottom: 35px;

}
.seven-text{
    font-size: 15px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
   
}
/* SLIDER */

.sliderBig{
   text-align: center;
}
.sliderBig-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
}

.sliderBig-item img{
    width: 143px;
    height: 142px;
    border-radius: 100px; 
    border: 6px solid  #1fdab533; 
    margin-bottom: 45px;
} 
.seven-name{
    color: #18CFAB;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    
}
.slider{
    position: relative;
    padding: 0 60px;
    padding-bottom: 105px;
    width: 460px;
    margin: 0 auto;
}
.slider .slick-arrow{
    position: absolute;
    top: 27%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #BBBBBB;
   
}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url("../img/section7-img/slider/Forma\ 2\ .png") no-repeat center; 
    transform: rotate(180deg);
}
.slider .slick-arrow.slick-prev:hover{
    background-color: #18CFAB;
    color: #ffffff;
    cursor: pointer;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url("../img/section7-img/slider/Forma\ 2\ .png") no-repeat center;
}
.slider .slick-arrow.slick-next:hover{
    background-color: #18CFAB;
    color: #ffffff;
    cursor: pointer;
}

.slider-item img{
    width: 59px;
    height: 59px;
    border-radius: 100px; 
    border: 6px solid #1fdab533;
}
.slider-item{
    width: 110px!important;
    outline: none;
    text-align: center;
}
.section-seven-title{
    font-size: 36px;
    color:  #ffffff;
    text-align: center;
    font-weight: normal;
    padding-top: 90px;
}


.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
}
/* Footer */
footer{
    background-color:  #22353F; 
}
.content-footer{
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #BBBBBB;
    background-color:  #22353F;
    padding-top: 23px;
    padding-bottom: 33px;

}
.footer span{
    color: #18CFAB;
}

       