@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background: url("../img/img-background.png");
    font-family: "Roboto", sans-serif;
    background-size: cover;
}

.all-content{
    max-width: 1030px;
    margin: 0 auto;
    height: 768px;
    color: #ffffff;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 51px; 
}

.logo-text{
    display: flex;
    text-align: left;
}

.logo-white{
    height: 47px;
    width: 53px;
}

.logo-orange{
    display: none;
    height: 47px;
    width: 53px;
}

.logo-text:hover .logo-white{
    display: none;
}

.logo-text:hover .logo-orange{
    display: block;
} 

.logo-text:hover .text{
    color:  #F26522;
}

.text{
    color: #ffffff;
    height: 47px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: bold;
}

.logo-title{
    font-size: 29px;
}

.logo-subtitle{
    font-size: 18px;
}

.contact{
     display: flex;
     flex-direction: column;   
} 

.contact-item{
    color: #ffffff;
    margin-bottom: 19px;
    text-align: right;
    cursor: pointer;
}

.contact-item:hover{
    color: #F26522;

}

.main-content{
    display: flex;
    justify-content: space-between;
    margin-top: 17px; 
}
 
.tour{
    color: #ffffff;
    margin-bottom: 37px;
    position: relative;
}

.tour:hover .prices{
    display: block;
}

.tour:hover .name-tour{
    color: #F26522;
}

.tour > img{
    width: 300px;
    height: 220px;
}

.name-tour{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.prices{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #F26522;
    bottom: 40px;
}

.from{
    font-size: 10px;
    padding: 7px 257px 0 16px;
}

.value{
    display: flex;
    padding: 8px 14px 12px 16px;
    justify-content: space-between;
    align-items: center;
}

.fifty{
    font-size: 20px;
}

.view-details{
    font-size: 14px;
}

.view-details::after{
    content: ">";
    margin-left: 16px;
}

.footer{
    text-align: center;
    margin-top: 49px;
    margin-bottom: 15px;
}























